:root {
  --clr-blue: #037fff;
  --clr-dark: #10121b;
  --clr-gray: #2e344e;
  --clr-white: #f1f1f1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--clr-dark);
  color: var(--clr-white);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.span-two {
  grid-column: span 2;
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 1.5rem;
  border: 1px solid var(--clr-gray);
  outline: none;
  background: var(--clr-gray);
  color: rgba(255, 255, 255, 0.75);
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  color: var(--clr-white);
  background: transparent;
}

.output {
  grid-column: 1 / -1;
  background: var(--clr-blue);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: var(--clr-white);
  font-size: 2.5rem;
}
